<section fxLayout="column" fxLayoutAlign="center center">
  <h1 mat-dialog-title>Confirmation Required</h1>
  <mat-dialog-content>
    <p>Are you sure to add price: </p>
    <p>{{data.confirmationMessage | currency: 'EUR':true:'3.2-3'}}</p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onYesClick()" tabindex="1">Yes</button>
    <button type="button" mat-raised-button color="warn" (click)="closeDialog()" tabindex="-1">No</button>
  </mat-dialog-actions>
</section>
