################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Api/.vs
/Api/ProductCatalog.Api/bin
/Api/ProductCatalog.Api/obj/Release/netcoreapp2.0
/Api/ProductCatalog.Api.Messaging/bin
/Api/Services/ProductService/Services.ProductService.App/bin/Debug
/Api/Services/ProductService/Services.ProductService.Core/bin/Debug/netcoreapp2.0
/Api/Services/ProductService/Services.ProductService.Core/obj/Release/netcoreapp2.0
/Api/Services/ProductService/Services.ProductService.Data/bin/Debug/netcoreapp2.0
/Api/Services/ProductService/Services.ProductService.Data/obj/Release/netcoreapp2.0
/Api/Services/ProductService/Services.ProductService.Repository/bin/Debug/netcoreapp2.0
/Api/Services/ProductService/Services.ProductService.Repository/obj/Debug/netcoreapp2.0
/Api/Services/ProductService/Services.ProductService.Repository/obj/Release/netcoreapp2.0
/Api/Services/ProductService/Services.ProductService.Core/obj/Debug/netcoreapp2.0
/Api/Services/ProductService/Services.ProductService.Data/obj/Debug/netcoreapp2.0
/Api/Services/ProductService/Services.ProductService.App/obj
/Api/Services/ProductService/Services.ProductService.Tests/obj
/Api/ProductCatalog.Api/obj/Debug/netcoreapp2.0
/Api/ProductCatalog.Api/obj/ProductCatalog.Api.csproj.nuget.cache
/Api/ProductCatalog.Api.Messaging/obj/Debug/netcoreapp2.0
/Api/ProductCatalog.Api.Messaging/obj/Release/netcoreapp2.0
/Api/Services/ProductService/Services.ProductService.Core/obj
/Api/Services/ProductService/Services.ProductService.Data/obj
/Api/Services/ProductService/Services.ProductService.Repository/obj
/Api/Services/ProductService/Services.ProductService.Tests/bin/Debug/netcoreapp2.0
/Api/ProductCatalog.Api/obj
/Api/ProductCatalog.Api.Messaging/obj
/Api/ProductCatalog.Api/Properties/PublishProfiles
/ClientApp/.vscode
/Api/Services/ProductService/Services.ProductService.App/bin
/Api/Services/ProductService/Services.ProductService.App/Properties/PublishProfiles
/Api/Services/ProductService/Services.ProductService.Core/bin/Release/netcoreapp2.0
/Api/Services/ProductService/Services.ProductService.Data/bin/Release/netcoreapp2.0
/Api/Services/ProductService/Services.ProductService.App/Settings.job
/Api/Services/ProductService/Services.ProductService.App/Services.ProductService.App.csproj.user
/Api/Services/ProductService/Services.ProductService.Repository/bin/Release/netcoreapp2.0
