<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
  </extensions>

  <variable name="verbose" value="TimeStamp= ${longdate} ${newline} Environment= ${aspnet-environment} ${newline} Consumer= ${callsite} ${newline} Level= ${uppercase:${level}} ${newline} Body= ${aspnet-request-posted-body} ${newline} Controller= ${aspnet-mvc-controller} ${newline} Action= ${aspnet-mvc-action} ${newline} Line= ${callsite-linenumber} ${newline} Message= ${message} ${exception:format=tostring}"/>
  <targets>
   
    <target xsi:type="ApplicationInsightsTarget" name="insightsTarget">
      <instrumentationKey>2c74ef52-1546-4eb6-b94c-4810c6d7ea63</instrumentationKey>
      <contextproperty name="threadid" layout="${verbose}" />
    </target>

  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="insightsTarget" />
  </rules>

</nlog>